body {
    overflow-y: scroll;
}

.background-web {
    position: absolute;
    background: repeating-linear-gradient(140deg, var(--token-ce8f8173-7602-47ce-961c-f0cc87b484d3, rgb(237, 238, 241)), var(--token-ce8f8173-7602-47ce-961c-f0cc87b484d3, rgb(237, 238, 241)) 1px, transparent 1px, transparent 6px);
    width: 100%;
    height: 100%;
    z-index: -10000;
    opacity: 0.5;
}

.content-all-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


.bx-nav {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
}

.bx-container-nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-bx-container-nv {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 56px;
    justify-content: space-between;
    padding: 16px;
    position: relative;
    width: 100%;
}

.bx-img-logo {
    display: flex;
    width: 24px;
    height: 24px;
    cursor: pointer;
    object-fit: cover;
}

.bx-img-logo {
    object-fit: cover;
}

.gmail-txt {
    position: relative;
    display: flex;
    align-items: center;
}

.gmail-txt h6 {
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #61646b;
    text-decoration: none;
}

.gmail-txt h6:hover {
    color: #000;
    text-decoration: underline;
    text-decoration-color: #121218;
    cursor: pointer;
}

.header-cta {
    display: none;
}

.section-tw {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.content-all-section-tw {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
    padding: 64px 16px;
}

.box-user-sntw {
    display: flex;
    align-items: center;
    padding: 1px 1px 1px 9px;
    width: min-content;
    border-radius: 999px;
    border: 1px solid #e0e2e6;
    background-color: #ffffff;
    box-sizing: border-box;
}

.content-box-user-sntw {
  display: flex;  
  gap: 8px;
}

.content-box-txrgb-txuss {
    display: flex;
    gap: 3px;
}

.box-text-rgb-ussntw {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-rgb-ussntw {
    display: flex;
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
    background-image: linear-gradient(271deg, var(--token-20a49933-6f9b-447c-9d41-5ad6db603669, rgb(134, 36, 255)) 0%, var(--token-7589292a-359e-4464-aae1-c210983aa6e6, rgb(255, 101, 36)) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 20px;
    font-weight: 500;
    font-family: 'Satoshi', sans-serif;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
}


.box-tx-ussntw {
    display: flex;
    align-items: center;
}


.text-ussntw {
    white-space: nowrap;
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}


.avatars { 
    display: flex;
}

.avatar-3 {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(224, 226, 230);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: -5px;
}

.avatar-2 {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(224, 226, 230);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: -7px;
}

.avatar-1 {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(224, 226, 230);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 0px;
}

.avatar-1 { z-index: 7; }
.avatar-2 { z-index: 8; }
.avatar-3 { z-index: 9; }

.avatar-1 img,
.avatar-2 img,
.avatar-3 img {
    width: 18px;
    height: 18px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;   
}


