@media (min-width: 810px) {
    .header-cta {
        display: block;
    }

    .content-bx-container-nv {
        padding: 24px 24px 24px 24px;
        gap: 24px;
        height: 84px;
        max-width: 920px;
    }

    .content-all-box {
        justify-content: flex-start;
        gap: 16px;
    }

    .btn__text {
        position: relative;
        display: flex;
        font-size: 14px;
        font-family: 'Satoshi', sans-serif;
        font-weight: 500;
        white-space: nowrap;
        color: #ffffff;
        line-height: 20px;
        object-fit: cover;
    }

    .header-cta {
        display: flex;
        align-items: center;
    }
}