@media (min-width: 810px) {
    .header-cta {
        display: block;
    }

    .content-bx-container-nv {
        padding: 24px 24px 24px 24px;
        gap: 24px;
        height: 84px;
        max-width: 920px;
    }

    .content-all-box {
        justify-content: flex-start;
        gap: 16px;
    }

    .btn {
        display: flex;
        width: 100%;
        background-color: #1b1b21;
        padding: 7px 21px;
        border-radius: 99px;
        font-size: 12px;
        box-sizing: border-box;
        border: 1px solid rgb(36, 36, 42);
        opacity: 1;
        justify-content: center;
        align-items: center;
    }

    .btn__text {
        position: relative;
        display: flex;
        font-size: 14px;
        font-family: 'Satoshi', sans-serif;
        font-weight: 500;
        white-space: nowrap;
        color: #ffffff;
        line-height: 20px;
        object-fit: cover;
    }

    .header-cta {
        display: flex;
        align-items: center;
    }

    .content-all-section-tw {
        padding: 96px 24px;
        gap: 96px;
        max-width: 1200px;
        align-items: center;
    } 

    .content-all-section-twup {
        padding: 0px 24px;
        max-width: 920px;
        width: 100%;
        gap: 32px;
    }

    .text-bxsntw-gysc {
        font-size: 60px;
        line-height: 72px;
    }

    .all-text-bxsntw {
        font-size: 60px;
        line-height: 72px;
    }


.content-all-section-twdown {
    justify-content: flex-end;
    flex-direction: row;
    direction: rtl;
    gap: 24px;
}





.text-bxsntwdn {
    direction: ltr;
    unicode-bidi: embed;
}

.box-button-twdownsntw {
    width: max-content;
}

.content-box-video-sntwdn {
    height: 452px;
}


}