@media (min-width: 810px) {
    .header-cta {
        display: block;
    }

    .content-bx-container-nv {
        padding: 24px;
        gap: 24px;
        height: 84px;
    }

    .content-all-box {
        justify-content: flex-start;
        gap: 16px;
    }
}